.card-hero {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -15%);
  border-radius: 50%;
  color: $white;
  background-color: transparent;
  text-align: center;
  @include size(100%, 50%);
  
  .image {
    @include size();
  }
}