// SIZE
@mixin size($width: 100%, $height: 100%) {
  width: $width;
  height: $height;
}

// FLEX
@mixin flex($align-items: center, $justify-content: center) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  @content;
}

// MEDIA QUERIES

// TABLET
@mixin tablet() {
  @media (min-width: 640px) {
    @content;
  }
}


// LAPTOP
@mixin laptop() {
  @media (min-width: 768px) {
    @content;
  }
}

// DESKTOP
@mixin desktop() {
  @media (min-width: 1440px) {
    @content;
  }
}