// FONT
$font: 'verdana';

// COLOR 
$black: #252525;
$grey: #9B9B9B;
$white: #F1F1F1;
$fire: #F53C3C;
$ice: #9FF9EF;
$grass: #35EB44;
$flying: #DFFAF6;
$steel: #8A8585;
$water: #0B4072;
$electric: #F0F738;
$ghost: #552697;
$fighting: #66191A;
$psychic: #C740DF;
$rock: #8A5118;
$dark: #1D1C1C;
$ground: #D6A528;
$bug: #C5D418;
$dragon: #3336EC;

